<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="zing" ng-controller="IndexCtrl">
    <ion-view>
      <table style="width:100%">
        <tr>
          <th>Std</th>
          <th>Mo</th>
          <th>Di</th>
          <th>Mit</th>
          <th>Do</th>
          <th>Fr</th>


        </tr>
        <tr>
          <th>1.</th>
          <td>
            <a class="zing-butten" ng-click="clicko('mo', 1)"> </a>
            {{eintraege.fach.mo[1]}}
            <img ng-if="eintraege.hausaufgaben.mo[1]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('di', 1)"> </a>
            {{eintraege.fach.di[1]}}
            <img ng-if="eintraege.hausaufgaben.di[1]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('mit', 1)"> </a>
            {{eintraege.fach.mit[1]}}
            <img ng-if="eintraege.hausaufgaben.mit[1]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('do', 1)"> </a>
            {{eintraege.fach.do[1]}}
            <img ng-if="eintraege.hausaufgaben.do[1]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('fr', 1)"> </a>
            {{eintraege.fach.fr[1]}}
            <img ng-if="eintraege.hausaufgaben.fr[1]" src="css/warnung.png">
          </td>
        </tr>
        <tr>
          <th>2.</th>
          <td>
            <a class="zing-butten" ng-click="clicko('mo', 2)"> </a>
            {{eintraege.fach.mo[2]}}
            <img ng-if="eintraege.hausaufgaben.mo[2]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('di', 2)"> </a>
            {{eintraege.fach.di[2]}}
            <img ng-if="eintraege.hausaufgaben.di[2]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('mit', 2)"> </a>
            {{eintraege.fach.mit[2]}}
            <img ng-if="eintraege.hausaufgaben.mit[2]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('do', 2)"> </a>
            {{eintraege.fach.do[2]}}
            <img ng-if="eintraege.hausaufgaben.do[2]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('fr', 2)"> </a>
            {{eintraege.fach.fr[2]}}
            <img ng-if="eintraege.hausaufgaben.fr[2]" src="css/warnung.png">
          </td>
        </tr>
        <tr>
          <th>3.</th>
          <td>
            <a class="zing-butten" ng-click="clicko('mo', 3)"> </a>
            {{eintraege.fach.mo[3]}}
            <img ng-if="eintraege.hausaufgaben.mo[3]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('di', 3)"> </a>
            {{eintraege.fach.di[3]}}
            <img ng-if="eintraege.hausaufgaben.di[3]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('mit', 3)"> </a>
            {{eintraege.fach.mit[3]}}
            <img ng-if="eintraege.hausaufgaben.mit[3]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('do', 3)"> </a>
            {{eintraege.fach.do[3]}}
            <img ng-if="eintraege.hausaufgaben.do[3]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('fr', 3)"> </a>
            {{eintraege.fach.fr[3]}}
            <img ng-if="eintraege.hausaufgaben.fr[3]" src="css/warnung.png">
          </td>
        </tr>
        <tr>
          <th>4.</th>
          <td>
            <a class="zing-butten" ng-click="clicko('mo', 4)"> </a>
            {{eintraege.fach.mo[4]}}
            <img ng-if="eintraege.hausaufgaben.mo[4]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('di', 4)"> </a>
            {{eintraege.fach.di[4]}}
            <img ng-if="eintraege.hausaufgaben.di[4]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('mit', 4)"> </a>
            {{eintraege.fach.mit[4]}}
            <img ng-if="eintraege.hausaufgaben.mit[4]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('do', 4)"> </a>
            {{eintraege.fach.do[4]}}
            <img ng-if="eintraege.hausaufgaben.do[4]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('fr', 4)"> </a>
            {{eintraege.fach.fr[4]}}
            <img ng-if="eintraege.hausaufgaben.fr[4]" src="css/warnung.png">
          </td>
        </tr>
        <tr>
          <th>5.</th>
          <td>
            <a class="zing-butten" ng-click="clicko('mo', 5)"> </a>
            {{eintraege.fach.mo[5]}}
            <img ng-if="eintraege.hausaufgaben.mo[5]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('di', 5)"> </a>
            {{eintraege.fach.di[5]}}
            <img ng-if="eintraege.hausaufgaben.di[5]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('mit', 5)"> </a>
            {{eintraege.fach.mit[5]}}
            <img ng-if="eintraege.hausaufgaben.mit[5]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('do', 5)"> </a>
            {{eintraege.fach.do[5]}}
            <img ng-if="eintraege.hausaufgaben.do[5]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('fr', 5)"> </a>
            {{eintraege.fach.fr[5]}}
            <img ng-if="eintraege.hausaufgaben.fr[5]" src="css/warnung.png">
          </td>
        </tr>
        <tr>
          <th>6.</th>
          <td>
            <a class="zing-butten" ng-click="clicko('mo', 6)"> </a>
            {{eintraege.fach.mo[6]}}
            <img ng-if="eintraege.hausaufgaben.mo[6]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('di', 6)"> </a>
            {{eintraege.fach.di[6]}}
            <img ng-if="eintraege.hausaufgaben.di[6]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('mit', 6)"> </a>
            {{eintraege.fach.mit[6]}}
            <img ng-if="eintraege.hausaufgaben.mit[6]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('do', 6)"> </a>
            {{eintraege.fach.do[6]}}
            <img ng-if="eintraege.hausaufgaben.do[6]" src="css/warnung.png">
          </td>
          <td>
            <a class="zing-butten" ng-click="clicko('fr', 6)"> </a>
            {{eintraege.fach.fr[6]}}
            <img ng-if="eintraege.hausaufgaben.fr[6]" src="css/warnung.png">
          </td>
        </tr>
      </table>
      <p>aktuelle Zeit:{{zeit}} </p>
      <button class="button-Fertig" ng-click="clicko()">
      Fertig
    </ion-view>
    </button>
  </body>
</html>
