<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="zing" ng-controller="IndexCtrl">
    <ion-view>
      <table style="width:100%">
        <tr>
          <th>Std</th>
          <th>Mo</th>
          <th>Di</th>
          <th>Mit</th>
          <th>Do</th>
          <th>Fr</th>


        </tr>
        <tr>


          <td>1.</td>
          <td><a ng-click="clicko("mo", 1)">+</a>{{eintraege.mo[1]}}</td>
          <td><a ng-click="clicko("di", 1)">+</a>{{eintraege.di[1]}}</td>
          <td><a ng-click="clicko("mit", 1)">+</a>{{eintraege.mit[1]}}</td>
          <td><a ng-click="clicko("do", 1)">+</a>{{eintraege.do[1]}}</td>
          <td><a ng-click="clicko("fr", 1)">+</a>{{eintraege.fr[1]}}</td>



        </tr>
        <tr>
          <td>2.</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.mo[2]}}</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.di[2]}}</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.mit[2]}}</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.do[2]}}</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.fr[2]}}</td>


        </tr>
        <tr>
          <td>3.</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.mo[3]}}</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.di[3]}}</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.mit[3]}}</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.do[3]}}</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.fr[3]}}</td>
        </tr>
        <tr>

          <td>4.</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.mo[4]}}</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.di[4]}}</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.mit[4]}}</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.do[4]}}</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.fr[4]}}</td>

        </tr>
        <tr>
          <td>5.</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.mo[5]}}</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.di[5]}}</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.mit[5]}}</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.do[5]}}</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.fr[5]}}</td>


        </tr>
        <tr>
          <td>6.</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.mo[6]}}</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.di[6]}}</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.mit[6]}}</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.do[6]}}</td>
          <td><a ng-click="clicko()">+</a>{{eintraege.fr[6]}}</td>

          <th>1.</th>
          <td><a class="zing-butten" ng-click="clicko('mo', 1)"> </a>{{eintraege.mo[1]}}</td>
          <td><a class="zing-butten" ng-click="clicko('di', 1)"> </a>{{eintraege.di[1]}}</td>
          <td><a class="zing-butten" ng-click="clicko('mit', 1)"> </a>{{eintraege.mit[1]}}</td>
          <td><a class="zing-butten" ng-click="clicko('do', 1)"> </a>{{eintraege.do[1]}}</td>
          <td><a class="zing-butten" ng-click="clicko('fr', 1)"> </a>{{eintraege.fr[1]}}</td>
        </tr>
        <tr>
          <th>2.</th>
          <td><a class="zing-butten" ng-click="clicko('mo', 2)"> </a>{{eintraege.mo[2]}}</td>
          <td><a class="zing-butten" ng-click="clicko('di', 2)"> </a>{{eintraege.di[2]}}</td>
          <td><a class="zing-butten" ng-click="clicko('mit', 2)"> </a>{{eintraege.mit[2]}}</td>
          <td><a class="zing-butten" ng-click="clicko('do', 2)"> </a>{{eintraege.do[2]}}</td>
          <td><a class="zing-butten" ng-click="clicko('fr', 2)"> </a>{{eintraege.fr[2]}}</td>
        </tr>
        <tr>
          <th>3.</th>
          <td><a class="zing-butten" ng-click="clicko('mo', 3)"> </a>{{eintraege.mo[3]}}</td>
          <td><a class="zing-butten" ng-click="clicko('di', 3)"> </a>{{eintraege.di[3]}}</td>
          <td><a class="zing-butten" ng-click="clicko('mit', 3)"> </a>{{eintraege.mit[3]}}</td>
          <td><a class="zing-butten" ng-click="clicko('do', 3)"> </a>{{eintraege.do[3]}}</td>
          <td><a class="zing-butten" ng-click="clicko('fr', 3)"> </a>{{eintraege.fr[3]}}</td>
        </tr>
        <tr>
          <th>4.</th>
          <td><a class="zing-butten" ng-click="clicko('mo', 4)"> </a>{{eintraege.mo[4]}}</td>
          <td><a class="zing-butten" ng-click="clicko('di', 4)"> </a>{{eintraege.di[4]}}</td>
          <td><a class="zing-butten" ng-click="clicko('mit', 4)"> </a>{{eintraege.mit[4]}}</td>
          <td><a class="zing-butten" ng-click="clicko('do', 4)"> </a>{{eintraege.do[4]}}</td>
          <td><a class="zing-butten" ng-click="clicko('fr', 4)"> </a>{{eintraege.fr[4]}}</td>
        </tr>
        <tr>
          <th>5.</th>
          <td><a class="zing-butten" ng-click="clicko('mo', 5)"> </a>{{eintraege.mo[5]}}</td>
          <td><a class="zing-butten" ng-click="clicko('di', 5)"> </a>{{eintraege.di[5]}}</td>
          <td><a class="zing-butten" ng-click="clicko('mit', 5)"> </a>{{eintraege.mit[5]}}</td>
          <td><a class="zing-butten" ng-click="clicko('do', 5)"> </a>{{eintraege.do[5]}}</td>
          <td><a class="zing-butten" ng-click="clicko('fr', 5)"> </a>{{eintraege.fr[5]}}</td>
        </tr>
        <tr>
          <th>6.</th>
          <td><a class="zing-butten" ng-c lick="clicko('mo', 6)"> </a>{{eintraege.mo[6]}}</td>
          <td><a class="zing-butten" ng-click="clicko('di', 6)"> </a>{{eintraege.di[6]}}</td>
          <td><a class="zing-butten" ng-click="clicko('mit', 6)"> </a>{{eintraege.mit[6]}}</td>
          <td><a class="zing-butten" ng-click="clicko('do', 6)"> </a>{{eintraege.do[6]}}</td>
          <td><a class="zing-butten" ng-click="clicko('fr', 6)"> </a>{{eintraege.fr[6]}}</td
        </tr>
      </table>
      <p>aktuelle Zeit:{{zeit}} </p>
      <button class="button-Fertig" ng-click="clicko()">
      Fertig
    </ion-view>
    </button>
  </body>
</html>
