.pane
{
  background-color: red;
  color:white;
  font-size: normal;

}

h1, em
{
  font-weight: bold;
  font-style: normal;
}

body
{
  font-size: 25px;
}
td
{border:1px solid black;
width: 16.6%;
padding: 5px;

}
