.pane
{
<<<<<<< HEAD
  background-color: orange;
=======

  background-color: orange;

>>>>>>> f1f8efcbeb9cdac51913be45e3f299b7ede10ba5
  color:white;
  font-size: normal;

}

h1, em
{
  font-weight: bold;
  font-style: small;
}

body
{
  font-size: 25px;
}
td
{border:1px solid black;
width: 16.6%;
padding: 5px;

}
